<p>
    <strong>ng-template</strong> works only with structural directives (*ngFor, *ngIF, *ngSwitch)
</p>

<label [ngClass]="'my-input-class'">Please insert div to show (A, B, C):</label> <br />
<input type="text" [value]="divName" (keyup)="updateDiv($event)" />
<div [ngSwitch]="divName">
    <ng-template [ngSwitchCase]="'A'">AAAA: consume the tag</ng-template>
    <ng-template [ngSwitchCase]="'B'">BBB</ng-template>
    <ng-template [ngSwitchCase]="'C'">CCCC</ng-template>
    <ng-template [ngSwitchDefault]>Other</ng-template>
</div>

<div *ngIf="divName === 'A'" class="hello-world">
    Hello world 1
</div>

<ng-template [ngIf]="divName === 'A'">
    <div class="hello-world">
        Hello world 2
    </div>
</ng-template>

<ng-container *ngTemplateOutlet="saltoDeLinea"></ng-container>

<p>
    <strong>ng-container</strong> to work with structural directives without introducing extra elements in the dom
</p>
<ng-container *ngIf="divName === 'A'">
    <label>Im inside of a ngIf: Dont consume the tag</label> <br />
    <div>
        Yes, You typed A
    </div>
</ng-container>
<ng-container *ngTemplateOutlet="saltoDeLinea"></ng-container>

<p>
    <strong>ng-content</strong> to project content
</p>
<!-- 
<app-project-content [color]="'blue'"> 
    https://ebook.learn.epam.com/angular-gmp/docs/module-04-directives-pipes/home-task/
    -->

<app-project-content> 
    <h3 [ngStyle]="currentStyles" >Im a projected  1</h3>
    <div>Im a projected div 2</div>
    <span>Im other thing projected 3</span>
    <tab title="One"></tab>
</app-project-content>

<ng-container *ngTemplateOutlet="saltoDeLinea"></ng-container>

<p>
    <strong>ng-content</strong> used to create configurable components, this is known as
    Dynamic components
</p>
<tabs>
    <tab title="One"></tab>
    <tab title="Two"></tab>
</tabs>

<ng-container *ngTemplateOutlet="saltoDeLinea"></ng-container>

<p>
    <strong>loop and render</strong> 
</p>
<ul>
    <li *ngFor="let addr of addresses">
        <app-address [address]="addr"></app-address>
    </li>
</ul>

<ng-container *ngTemplateOutlet="saltoDeLinea"></ng-container>



<ng-template #saltoDeLinea>
    <hr/> 
    *ngTemplateOutlet insert a template multiple times
    <hr/> 
</ng-template>